*{box-sizing: border-box;}

html {
    background-size: auto;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    background-image: url(fts/Logopit_1682628341637\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(240,240,240);
}

.share-button i {
    margin-left: 24px;
    margin-top: 20px;
    color: rgb(0,0,0);
    font-size: 85px;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
    font-size: 2em;
}

.title {
    width: 100%;
    background-color: rgb(37,37,37);
    margin: 15px 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 35px 30px;

}

.title:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.title-share-button {
    margin: 8px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
    font-size: 70px;
    text-align: center;
}

.title-share-button  i{
   vertical-align: middle;
}


.image-container {
    height: 200px;
    width: 200px;
    background-image: url(fts/143b54c2-d906-4e03-a9d1-dd65ebae5786.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 15px;
    width: 44px;
    height: 44px;
    font-size: 80px;
}